<div class="container">
    {{#each this}}
  <div class="card">
    <div class="card-header">
    </div>
    <div class="card-body">
      {{comment}}
      -{{user.name}} on {{format_date created_at}}
    </div>
  </div>
   {{/each}}
</div>