html,
body {
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #FAF9F6;
}

.navbar {
  padding: 3% 4%;
  background-color: #1f203a;
}

.navbar-brand {
  background-color: #FAF9F6;
  font-size: 3rem;
  color: #1f203a;
  padding: 0 10px;
  display: inline-block;
  border-radius: .4rem;
  box-shadow: 6px 5px #cccccc;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar-nav a {
  color: white;
  padding: 0 2rem;
  font-size: 1.5rem;
  padding: 10px 20px;  
}

.navbar-nav a:hover {
  color: white;
  border-bottom: 3px solid white;
}

/* Log in, Join css */
.btn {
  background-color: #F2EDDC;
  color: black;
  padding: 6px 5px;
  margin: 5px 0;
  margin-top: 40px;
  font-size: 1.3rem;
  text-decoration:none;
  width: 100%;
  display: block;
  border-radius: .4rem;
  border: none;
  outline: none;
  box-shadow: 3px 3px #1f203a;
  transform: translate(-1px, -1px);
}

.btn:hover {
  color: black;
  background-color: #e5e5e5;
  transform: translate(0, 0);
  box-shadow: 2px 2px #1f203a;
}

.btn-inline {
  display: inline;
}

.btn-back {
  border-radius: .4rem;
  color: #FAF9F6;
  border: none;
  outline: none;
  background-color: #cccccc;
  box-shadow: 3px 3px #9caea9;
  transform: translate(-1px, -1px);
  display: inline-block;
  width: auto;
  margin-top: 20px;
  padding: 15px;
  text-decoration: none;
  font-size: 1.2rem;
}

.btn-back:hover {
color: #FAF9F6;
background-color:  #788585;
transform: translate(0, 0);
box-shadow: 2px 2px #1f203a;
}

/* Join form */
/* .container {
  vertical-align: middle;
  display: grid;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
} */

.form-card {
 margin: 0 auto;
}

.card {
 height: 100%;
 margin-top: 50px;
 margin-bottom: 50px;
}

.form-outline .form-control {
  border: 1px solid #ddd;
  min-height: auto;
  padding: 0.32rem 0.75rem;
  background: transparent;
  transition: all .2s linear;
}

/* Dashboard css */
.flex-container {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.btn-new-post {
  background-color: #F2EDDC;
  color: black;
  padding: 6px 5px;
  margin: 5px 0;
  font-size: 1.3rem;
  text-decoration:none;
  width: 20%;
  display: block;
  border-radius: .4rem;
  border: none;
  outline: none;
  box-shadow: 3px 3px #1f203a;
  transform: translate(-1px, -1px);
}

.welcome {
  margin-top: 50px;
}

/* home css */
a {
  display: block;
  color: black;
  text-decoration: none;
}
